$topColor_header: white;
$topColor_nav: white;
$footerColor: #90d4c5;
$footerColor_nav: #3c8071;
$footerColor_header: #347b6b;
$footerColor_socialMedia: #2d7464;

$heading_font: Georgia, "Times New Roman", Times, serif;

$backgroundColor_blurb: #fffbf8;

@mixin service_paragraph {
  p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-height: 4rem;
  }
}

@mixin service($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  @include service_paragraph();
}

/*All Elements*/
html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading_font;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 1.5rem;
}

nav {
  a {
    text-decoration: none;
  }
}

/*Main Content*/

body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#top {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0rem;
  width: 100%;
  height: 50rem;
  nav#topNav {
    padding: 3rem;
    svg#logo {
      overflow: visible;
    }
    #topNav_links {
      float: right;
      a {
        margin-left: 2rem;
        &:link {
          color: $topColor_nav;
        }
      }
      #topNav_links_contact {
        text-align: center;
        width: 6rem;
        font-family: $heading_font;
        text-transform: uppercase;
        color: black;
        background-color: white;
        border-radius: 2rem;
        padding: 0.75rem;
      }
    }
  }
  h1 {
    color: $topColor_header;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
  }
  svg#arrow {
    display: block;
    margin: auto;
  }
}

.blurb {
  display: flex;
  flex-direction: row;
  .blurb_text {
    background-color: $backgroundColor_blurb;
    width: 50%;
    height: auto;
    padding: 2rem;
    word-break: break-word;
  }
  .blurb_img {
    width: 50%;
    height: auto;
    // Use line below to preserve img ratio
    // object-fit: contain;
  }
}

#services {
  display: flex;
  flex-direction: row;
  position: relative;
  .service {
    width: 50%;
    height: 30rem;
    .service_text {
      margin-top: 50%;
      h3,p {
        text-align: center;
      }
    }
  }
  #graphicDesign {
    @include service("../images/desktop/image-graphic-design.jpg");
  }
  #photography {
    @include service("../images/desktop/image-photography.jpg");
  }
}

#testimonials {
  background-color: $backgroundColor_blurb;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  h5 {
    text-align: center;
  }
  #testimonial_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
#bottomImgs {
  width: 100%;
  height: 29rem;
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg"),
    url("../images/desktop/image-gallery-orange.jpg"),
    url("../images/desktop/image-gallery-cone.jpg"),
    url("../images/desktop/image-gallery-sugarcubes.jpg");
  background-size: 26%;
  background-repeat: no-repeat;
  background-position-x: 0%, 33%, 67%, 100%;
}

footer {
  background-color: $footerColor;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    color: $footerColor_header;
  }
}
