$topColor_header: white;
$topColor_nav: white;
$footerColor_background: #90d4c5;
$footerColor_nav: #3c8071;
$blurbsColor_text: #9b999c;
$blurbsColor_background: #fffbf8;
$testimonialColor_heading: #9e9da2;
$testimonialColor_nonHeaderText: #8a898e;
$servicesColor_graphicDesignText: #295850;
$servicesColor_photographyText: #18546c;

$heading_font: Georgia, "Times New Roman", Times, serif;

@mixin service_paragraph {
  p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-height: 4rem;
  }
}

@mixin service($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  @include service_paragraph();
}

/*All Elements*/
html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading_font;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 1.5rem;
}

nav {
  a {
    text-decoration: none;
  }
}

/*Main Content*/

body {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#top {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0rem;
  width: 100%;
  height: 50rem;
  nav#topNav {
    padding: 3rem;
    svg#logo {
      overflow: visible;
    }
    #topNav_links {
      float: right;
      a {
        margin-left: 2rem;
        &:link {
          color: $topColor_nav;
        }
        &:visited {
          color: $topColor_nav;
        }
      }
      #topNav_links_contact {
        display: inline-block;
        text-align: center;
        width: 6rem;
        font-family: $heading_font;
        text-transform: uppercase;
        color: black;
        background-color: white;
        border-radius: 2rem;
        padding: 0.75rem;
        &:hover {
          color: white;
          background-color: #6eceff;
        }
      }
    }
  }
  h1 {
    color: $topColor_header;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.25rem;
  }
  svg#arrow {
    display: block;
    margin: auto;
  }
}

.blurb {
  display: flex;
  flex-direction: row;
  background-color: $blurbsColor_background;
  .blurb_text {
    width: 50%;
    height: auto;
    word-break: break-word;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    p {
      color: $blurbsColor_text;
    }
    a {
      font-family: $heading_font;
      color: $heading_font;
      text-decoration: none;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      border-bottom: solid;
      border-radius: 0.2rem;
      border-bottom-color: #fff7bb;
      border-width: 0.25rem;
      &:hover {
        border-bottom-color: #fad800;
        border-width: 0.4rem;
      }
      &:visited {
        color: black;
      }
    }
  }
  .blurb_text:nth-child(2) {
    a {
      border-bottom-color: #ffdad1;
      &:hover {
        border-bottom-color: #ff7062;
      }
    }
  }
  .blurb_img {
    width: 50%;
    height: auto;
  }
}

#services {
  display: flex;
  flex-direction: row;
  position: relative;
  .service {
    width: 50%;
    height: 30rem;
    .service_text {
      margin-top: 50%;
      h3,
      p {
        text-align: center;
      }
    }
  }
  #graphicDesign {
    @include service("../images/desktop/image-graphic-design.jpg");
    h3,
    p {
      color: $servicesColor_graphicDesignText;
    }
  }
  #photography {
    @include service("../images/desktop/image-photography.jpg");
    h3,
    p {
      color: $servicesColor_photographyText;
    }
  }
}

#testimonials {
  background-color: $blurbsColor_background;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  h5 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: bolder;
    color: $testimonialColor_heading;
  }
  #testimonial_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .testimonial {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
      img {
        border-radius: 50%;
        transform: scale(60%);
      }
      p {
        color: $testimonialColor_nonHeaderText;
        text-align: center;
        word-break: break-word;
      }
      small {
        font-weight: bolder;
        color: $testimonialColor_nonHeaderText;
      }
    }
  }
}
#bottomImgs {
  display: flex;
  flex-direction: row;
  img {
    width: 25%;
    height: auto;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $footerColor_background;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  nav#bottomNav {
    margin: 2rem;
    a {
      margin: 1rem;
      color: $footerColor_nav;

      &:visited {
        color: $footerColor_nav;
      }
    }
  }
  #socialMedia {
    margin-top: 4rem;
    svg {
      margin-left: 1rem;
    }
  }
}


@media only screen and (max-width: 390px) {
  body {
    width: 100%;
  }

  #top {
    background-image: url("../images/mobile/image-header.jpg");
  }
}